@font-face {
  font-family: 'Formular';
  src: url('Formular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('Formular-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Greenwich';
  src: url('Greenwich-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}